@tailwind base;
@tailwind components;
@tailwind utilities;

/* sm	40rem (640px)	@media (width >= 40rem) { ... } */
/* md	48rem (768px)	@media (width >= 48rem) { ... } */
/* lg	64rem (1024px)	@media (width >= 64rem) { ... } */
/* xl	80rem (1280px)	@media (width >= 80rem) { ... } */
/* 2xl	96rem (1536px)	@media (width >= 96rem) { ... } */

/* amarelo - #E9B60B */
/* azul escuro - #273270 */
/* azul claro - #536EB3 */
/* azul pelicula - #F0F3FA */

@layer base {
    * {
        @apply font-montserrat m-0 p-0 box-border border-[1px] border-[#ff0000]
    }

    html {
        @apply scroll-smooth
    }

    header {
        @apply w-full py-2 absolute top-0 z-30
    }

    main {
        @apply min-h-dvh overflow-x-hidden
    }

    section {
        @apply w-full flex flex-col justify-between relative
        lg:min-h-[500px]
        py-32 lg:py-28
        /* overflow-hidden */
    }

    section>div {
        @apply grid gap-x-12 mx-auto z-20
        w-5/6 lg:w-11/12 xl:w-3/4
        lg:grid-cols-2
    }

    section>div>div {
        @apply last:mb-0 mb-12
    }

    span {
        @apply flex
    }

    figure, picture {
        @apply flex
    }

    h1 {
        @apply font-bold leading-tight mb-4
        text-[1.5rem] md:text-[2rem] lg:text-3xl xl:text-4xl
    }

    h2 {
        @apply text-[3rem] lg:text-2xl font-bold
    }

    h3 {
        @apply text-[1rem] lg:text-lg font-bold
    }

    h4 {
        @apply text-[.8rem] lg:text-sm
    }

    h5 {
        @apply text-xs
    }

    p, li {
        @apply text-preto text-[.8rem] lg:text-sm z-10
    }

    strong {
        @apply font-extrabold z-10 text-[.8rem] lg:text-sm
    }

    p, ul {
        @apply mt-8 lg:mt-4 mb-0
    }

    li {
        @apply flex items-center gap-2
    }

    a {
        @apply cursor-pointer
    }

    input, textarea {
        @apply outline-0 font-light p-3 rounded
    }

    table {
        @apply mb-8 last:mb-0
    }

    button {
        @apply rounded-full min-w-[24rem] text-branco font-bold text-[2rem]
        mb-12 lg:mb-0
        mt-16 lg:mt-8
        mx-auto lg:mx-0
        lg:text-sm
        py-8 lg:py-4
        px-20 lg:px-8
    }
}

@layer components {
    .titulo {
        @apply text-verde-escuro font-bold mb-8 uppercase
    }

    #avaliacoes, #alimentacao, #galeria, #valores {
        @apply !pt-0
    }

    #estrutura, #galeria, #alimentacao, #valores {
        @apply bg-verde-reticula
    }

    #banner {
        @apply pt-8 pb-96 lg:py-28
    }

    #banner .logotipo {
        @apply mx-auto
        w-28 h-28 lg:w-40 lg:h-40 
    }

    #banner .img-banner {
        @apply object-cover absolute
        bottom-0 lg:right-0 lg:top-0
        w-full lg:w-3/4
        h-2/3 lg:h-full
    }

    #banner h1 {
        @apply uppercase flex text-verde-escuro
    }

    #banner h1 span {
        @apply mr-4 text-[#536EB3]
        lg:text-4xl
    }

    #banner h4 br {
        @apply hidden md:block
    }
    
    #banner .bg-gradiente-branco {
        @apply z-0 absolute left-0 top-0 w-full h-full from-branco from-40% to-branco/0 to-100%
        bg-gradient-to-b lg:bg-gradient-to-r 
    }

    #experiencias .exp-container {
        @apply grid gap-4 mt-8
        md:grid-cols-3 lg:grid-cols-5
    }

    #experiencias .exp-box {
        @apply h-72 lg:h-96 flex-col justify-end overflow-hidden
    }

    #experiencias .exp-box img {
        @apply h-full object-cover 
    }

    #experiencias .exp-box span {
        @apply bg-verde-claro text-branco font-medium w-full items-center p-4
    }

    #experiencias .img-suites {
        @apply w-full object-cover
        h-32 md:h-72 lg:h-96
        last:mt-4 md:!mt-0
    }

    #avaliacoes .avaliacao-box {
        @apply items-center mt-4 first:mt-0
        lg:h-40
        py-12 px-4 md:p-12
        flex-col md:flex-row
        bg-gradient-to-b md:bg-gradient-to-r
    }

    #avaliacoes .avaliacao-box .logo-cliente {
        @apply justify-center items-center
        w-full md:w-2/5 lg:w-1/4
    }

    #avaliacoes .avaliacao-box .logo-cliente img {
        @apply w-5/6 saturate-0 brightness-200 contrast-200 
    }

    #avaliacoes .avaliacao-box .avaliacao-cliente {
        @apply flex-col text-branco
        w-full md:w-3/5 lg:w-3/4
        pt-8 md:pl-8 md:pt-0
    }

    #avaliacoes .avaliacao-box .avaliacao-cliente p {
        @apply italic !m-0 text-branco
    }

    #avaliacoes .grade-logos {
        @apply grid
        grid-cols-3 md:grid-cols-4 lg:grid-cols-5
        gap-x-3 lg:gap-x-12 lg:gap-y-1
        mt-8
    }

    #avaliacoes .grade-logos img {
        @apply aspect-square w-full object-contain h-20
    }

    #estrutura .estrutura-container {
        @apply grid gap-2 mt-8
        md:grid-cols-2
    }

    #estrutura .estrutura-box {
        @apply bg-verde-claro/20 flex-col justify-between overflow-hidden
    }

    #estrutura .estrutura-box img {
        @apply aspect-video w-full object-cover
    }

    #estrutura .estrutura-box p {
        @apply w-full m-0 p-2 font-bold text-verde-escuro
    }

    #estrutura .mapa-regiao {
        @apply bg-verde-claro/20 flex-col justify-between h-full
        mt-8 lg:mt-0
    }

    #estrutura .mapa-regiao .mapa {
        @apply bg-verde-escuro object-cover
        h-[10rem] md:h-[30rem]
    }

    #estrutura .mapa-regiao .legenda {
        @apply p-6 text-verde-escuro grid gap-4
        md:grid-cols-2
    }
    
    #estrutura .mapa-regiao .legenda li {
        @apply flex
    }
    
    #estrutura .mapa-regiao .legenda li .icone {
        @apply h-[2rem] w-[2rem] bg-verde-escuro
    }
    
    #estrutura .mapa-regiao .legenda li span {
        @apply flex-col text-preto
    }
    
    #estrutura .mapa-regiao .legenda li span p {
        @apply m-0 text-xs
    }

    #galeria>div {
        @apply md:!grid-cols-3 lg:!grid-cols-4 !gap-4
    }

    #alimentacao .alim-box {
        @apply flex justify-end overflow-hidden mb-4 relative
        flex-col lg:flex-row
        h-96 lg:h-64
    }

    #alimentacao .alim-box span {
        @apply flex-col z-10 text-branco
        w-full lg:w-1/2
        p-4 lg:p-8
    }

    #alimentacao .alim-box span h3 {
        @apply text-verde-claro font-bold
    }

    #alimentacao .alim-box span p {
        @apply text-branco text-xs
    }

    #alimentacao .alim-box img {
        @apply absolute top-0 left-0 h-full object-cover z-0
        w-full lg:w-2/3
    }

    #alimentacao .alim-box .gradiente-preto {
        @apply  from-preto/0 from-30% to-preto/100 to-60% absolute top-0 left-0 h-full w-full z-0
        bg-gradient-to-b lg:bg-gradient-to-r
    }

    #valores br {
        @apply hidden lg:block
    }

    #valores .tab-container {
        @apply overflow-x-scroll
        w-[250px] md:w-full 
    }

    #valores table {
        @apply w-full
    }

    #valores table thead {
        @apply bg-verde-escuro
    }

    #valores table thead th {
        @apply text-branco
        p-2 lg:p-4
        text-xs lg:text-base
    }

    #valores table tbody tr {
        @apply odd:bg-verde-claro/10
    }
    
    #valores table tbody tr td {
        @apply border-0 border-verde-escuro first:font-bold
        p-2 lg:p-4 
        text-xs lg:text-base
    }
    
    #valores table tbody tr .valores {
        @apply px-8 lg:!px-16 w-1/5
    }

    #valores table tbody tr td span {
        @apply flex-row justify-between
    }

    #valores table tbody tr td span p {
        @apply m-0
        text-xs lg:text-base
    }

    #valores .checks {
        @apply flex-row last:mt-4 lg:!mt-0
    }

    #valores .checks .icone {
        @apply mr-2 lg:scale-[50%] w-1/6
        max-h-[3rem] lg:max-h-[5rem]
    }

    #valores .checks p {
        @apply m-0 w-5/6
    }

    #contato {
        @apply bg-espaco-externo-noite bg-no-repeat
        bg-contain lg:bg-cover
        bg-bottom lg:bg-right-top
        pt-32 pb-64 lg:py-28
    }

    #contato p {
        @apply text-branco
    }

    #contato .intro {
        @apply grid mt-12 rounded-xl border-2 border-verde-claro gap-8 relative text-branco w-full
        md:grid-cols-2
        px-4 !pt-12 pb-6 lg:p-8 lg:!pt-20
    }

    #contato .intro h3 {
        @apply font-bold text-verde-claro text-center bg-preto absolute -top-6 px-4
        w-[90%] lg:w-4/6 left-[5%] lg:left-[16%]
        h-28 md:h-16
    }

    #contato .intro .prim {
        @apply mt-12 md:!mt-0
    }

    #contato .intro>span {
        @apply w-full
    }

    #contato .intro span p {
        @apply mt-0
    }

    #contato .intro h3 br {
        @apply hidden lg:block
    }

    #contato .intro .icone {
        @apply h-[4rem] w-[6rem] mr-2
    }

    #contato .lista > span {
        @apply flex-row items-center py-2
    }

    #contato .lista .icone {
        @apply text-verde-claro text-3xl mr-4
    }
    
    #contato .lista p {
        @apply m-0 text-branco
    }

    #contato .bg-gradiente-preto {
        @apply z-0 absolute left-0 top-0 w-full h-full from-preto/100 to-preto/0
        from-[85%] md:from-70% lg:from-50% to-100%
        bg-gradient-to-b lg:bg-gradient-to-r
    }
}

@layer utilities {
    .material-symbols--counter-1-outline-rounded {
        display: inline-block;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m-.5-11v7q0 .425.288.713T12.5 17t.713-.288T13.5 16V8q0-.425-.288-.712T12.5 7h-2q-.425 0-.712.288T9.5 8t.288.713T10.5 9z'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .material-symbols--counter-2-outline-rounded {
        display: inline-block;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m2-3q.425 0 .713-.288T15 16t-.288-.712T14 15h-3v-2h2q.825 0 1.413-.587T15 11V9q0-.825-.587-1.412T13 7h-3q-.425 0-.712.288T9 8t.288.713T10 9h3v2h-2q-.825 0-1.412.588T9 13v3q0 .425.288.713T10 17z'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .material-symbols--counter-3-outline-rounded {
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m-2-3h3q.825 0 1.413-.587T15 15v-1.5q0-.65-.425-1.075T13.5 12q.65 0 1.075-.425T15 10.5V9q0-.825-.587-1.412T13 7h-3q-.425 0-.712.288T9 8t.288.713T10 9h3v2h-1q-.425 0-.712.288T11 12t.288.713T12 13h1v2h-3q-.425 0-.712.288T9 16t.288.713T10 17'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .material-symbols--counter-4-outline-rounded {
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m1-7v3q0 .425.288.713T14 17t.713-.288T15 16V8q0-.425-.288-.712T14 7t-.712.288T13 8v3h-2V8q0-.425-.288-.712T10 7t-.712.288T9 8v4q0 .425.288.713T10 13z'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .material-symbols--counter-5-outline-rounded {
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m-2-3h3q.825 0 1.413-.587T15 15v-2q0-.825-.587-1.412T13 11h-2V9h3q.425 0 .713-.288T15 8t-.288-.712T14 7h-4q-.425 0-.712.288T9 8v4q0 .425.288.713T10 13h3v2h-3q-.425 0-.712.288T9 16t.288.713T10 17'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .material-symbols--counter-6-outline-rounded {
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m-1-3h2q.825 0 1.413-.587T15 15v-2q0-.825-.587-1.412T13 11h-2V9h2q.425 0 .713-.288T14 8t-.288-.712T13 7h-2q-.825 0-1.412.588T9 9v6q0 .825.588 1.413T11 17m0-4h2v2h-2z'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .material-symbols--check-box-outline {
        display: inline-block;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m10.6 16.2l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm0-2h14V5H5zM5 5v14z'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .tabler--world {
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m.6-3h16.8M3.6 15h16.8'/%3E%3Cpath d='M11.5 3a17 17 0 0 0 0 18m1-18a17 17 0 0 1 0 18'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .tabler--brand-whatsapp {
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m3 21l1.65-3.8a9 9 0 1 1 3.4 2.9z'/%3E%3Cpath d='M9 10a.5.5 0 0 0 1 0V9a.5.5 0 0 0-1 0za5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .tabler--mail {
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z'/%3E%3Cpath d='m3 7l9 6l9-6'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .tabler--map-pin {
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M9 11a3 3 0 1 0 6 0a3 3 0 0 0-6 0'/%3E%3Cpath d='M17.657 16.657L13.414 20.9a2 2 0 0 1-2.827 0l-4.244-4.243a8 8 0 1 1 11.314 0'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }
}